.header-page-top-container {
    height: 10vh;
    width: 100%;
    box-shadow: 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.header-page-top-left-navigation-panel {
    // width: 5%;
    height: 10vh;
    width: 15vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    // align-items: center;
    // justify-content: center;
    z-index: 99;
    // background-color: beige;
}

.header-page-top-navigation{
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: aquamarine;
}

.logo-left {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // left: 20px;
    height: 10vh;
    width: 7vw;
    // margin: 0 0 0 20px;
    cursor: pointer;
    // background-color: aqua;
}

.logo-1 {
    height: 5vh;
    background-size: contain;
}

.logo-right {
    position: absolute;
    right: 8vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 6%;
    // margin: 0 0 0 3%;
    // background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31");
    // background-size: contain;
    // background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.logo-2 {
    height: 5vh;
    width: 60%;
    background-size: contain;
}

.header-page-top-text {
    // width: 80%;
    // display: flex;
    // justify-content: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.header-page-top-right{
    position: absolute;
    right: 0;
    top: 0;
    height: 25vh;
    width: 8vw;
    cursor: pointer;
}

.header-page-top-right-user-icon{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-page-top-right-user-options-container{
    display: none;
    height: 15vh;
    transition: all 0.2s linear;
}

.header-page-top-right-user-option{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.option-3{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-page-top-right:hover{
    height: 25vh;
    background-color: rgb(239, 238, 238);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .header-page-top-right-user-options-container{
        display: flex;
        flex-direction: column;
    }
}

.header-page-top-right-user-option:hover{
    background-color: #c8c8c8;
}
