.navlist {
  position: fixed;
  top: 12vh;
  left: -200px;
  width: 200px;
  margin-bottom: auto;
  transition: left 300ms ease-out;
}

.navlist.active {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 200px;
  height: 84.8vh;
  // background: linear-gradient(0deg, rgb(169, 200, 176) 0%, rgb(166, 168, 140) 100%);
  // background: linear-gradient(0deg, rgb(216, 242, 222) 0%, rgb(224, 226, 193) 100%);
  // background: linear-gradient(0deg, rgb(97, 194, 80,0.5) 0%, rgb(0, 161, 222,0.5) 100%);
  background-color: #c8c8c8;
  box-shadow: 1px 1px 1px 1px gray;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.nav-panel-link{
  text-decoration: none;
  color: #101010;
}

.navlist ul {
  margin: 8vh 0 0 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navlist li {
  list-style: none;
  display: flex;
  width: 140px;
  align-items: center;
  // margin-left: 10px;
  margin-top: 1px;
  padding: 10px 30px;
}

.navlist ul li span {
  margin-left: 20px;
}

.navlist ul li:hover {
  background-color: rgba(235, 235, 234, 0.5);
  backdrop-filter: blur(10px);
  color: #505050;
}

.hamburger {
  cursor: pointer;
}